.tcwlw_select_btn_wrapper {
  vertical-align: middle;
  padding: 0.5em 0;

  .tcwlw_brand_btn {
    background-color: #c00;
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.15)), color-stop(100%, rgba(0,0,0,0.15)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-indent: -0.05em;
    color: white;
    text-decoration: none;
    -webkit-appearance: none;
    text-shadow: none;
    height: auto;
    margin-bottom: .4em;
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    -webkit-box-shadow: 0 6px 1px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 6px 1px -3px rgba(0,0,0,0.15);
    box-shadow: 0 6px 1px -3px rgba(0,0,0,0.15);
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .tcwlw_select_btn {
    font-size : 1em;
    float : none;
    white-space : nowrap;
    margin : 0;
    padding : 0.6em 1.1em;;
    color : #ffffff;
    text-decoration : none;

    i {
      font-size: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}