$colorBorderComparingTable          : #cccccc;
$red                                : #cc0000;
$orangeCompareTireBlock             : #cc6600;
$closeCompareTireBlock              : #999999;
$white                              : #fff;
$grayDark                           : #666666;
$backgroundCompareTirePositiveBlock : #f1f0f0;
$fontColorCompareTireLeftSidebar    : #333333;
$green                              : #039511;
$yellowCompareTireStars             : #f7af00;

